table{
width: auto;

text-align: center;
/*border-radius: 50px;
border-color: rgb(5, 182, 5);
border: 2px solid;*/
}

.tableAncho{
    width: 140px;
    margin-left: 20%;
    border-radius: 30px;
    text-align: center;
    margin-top: 0px;

    border: 2px solid;
    border-color: rgb(5, 182, 5);
    display: flex;
}

table thead th{
    margin: 0%;
    padding: 0%;
    background-color: rgb(5, 182, 5);
    color: rgb(236, 235, 235);
    

    
}
table tbody td{
    margin:50px;
}




.textAlt{
    color: rgb(5, 182, 5);
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

p{
    padding-top: 2px;
    margin-top: 2px;
}

.imgB{
    border-image: 20round;
}

img{
    width: 100px; height: 100px; border-radius: 5px;
}

