

  .titulo{
    display: -webkit-flex;
    margin-left: 32%;
    
    margin-bottom: 20px;
    

   
}

.textEspecial{
  font-family: faster;
  color: rgb(5, 182, 5);
}
h1{
    display: inline;
    
}