
table{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
}
.tableColorVede{
    background-color: rgb(5, 182, 5);
    color: rgb(236, 235, 235);
}

.bordeIz{
    border-top-left-radius: 50px;
}

.bordeDr{
    border-bottom-right-radius: 50px;
}
.prueba{
    color: red;
}

.positionRanking{
margin-left: 30%;

margin-top: 40px;
margin-bottom: 25px;
color:rgb(5, 182, 5); 
display: flex;

}

.button-right{
    height: 30px;
    width: 120px;
    background-color: rgb(5, 182, 5);
    border-radius: 10px;
    margin-left: 35%;
    
}
.button-right:hover{

      background-color: rgb(230, 230, 230);
      
  }

  .positionSelect{

 
  margin-left:70%;
  margin-bottom: 20px;

  }

  .inLINE{
      display: inline;
  }

  table tr:nth-child(even) td{
background-color: rgb(204, 204, 204);
  }



  table tr td:hover{
    color: rgb(5, 182, 5);
      }
